* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.search-form {
    display: flex;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
    padding-top: 20%;
    justify-content: center;
    align-items: center;
}

.search-form input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.search-form button {
    background-color: #2196F3;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-form button:hover {
    background-color: #1976D2;
}

